.auth-div{
    background-color: white;
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.auth-title{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.auth-label input{
    margin-top: 5px;
    height: 30px;
    border: 1.5px solid black;
    padding-left: 7px;
}


.auth-button {
    margin: 15px;
    border: 1.5px solid black;
    padding: 5px;
    background: white;
}

@media only screen and (min-width: 430px){
    .auth-div-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .auth-div{
        padding: 20px;
        width: 430px;
        height: auto;
    }

    .auth-button{
        cursor: pointer;
    }
}