nav {
  background-color: white;
}

.nav-header-mobile {
    display: flex;
    align-items: center;
}

.nav-logo {
  text-align: center;
  font-size: 5vh;
  height: fit-content;
  width: 100vw;
  margin: 0vh 15vw;
  height: 10vh
}

.hamburger {
  cursor: pointer;
  position: absolute;
  width: fit-content;
  margin-left: 3.75vw;
  padding: 1.5%;
  font-size: 2rem;
}

.nav-links {
    padding-top: 2%;
    list-style: none;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: auto;
}

.nav-links li {
  cursor: pointer;
  margin: 0.8% 5%;
  padding: 1%;
  width: fit-content;
}
