@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Noto+Serif&display=swap');

h1,h2{
    font-family: 'Noto Serif';
}

p,input,label,button,li {
    font-family: 'Inter';
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
}

.link, .link-title{
    color: black;
}
.link-title {
    text-decoration: none;
}


.error {
    margin-top: 5px;
    font-size: smaller;
    color: red;
}
.response {
    margin-top: 5px;
    font-size: smaller;
    color: green;
}

