.new-releases-div {
    margin-top: 10vh;
    background-color: #f6f6f6;;
}
.new-releases-div h2 {
    position: relative;
  text-align: center;
  top:5vh;
}

@media only screen and (min-width: 430px) {

    .new-releases-cards {
        display: flex;
        scale: 0.8;
    }
}